.block-editor-block-list__layout.is-root-container > .alignwide.custom-post-block-template, .custom-post-block-template {
  max-width: 600px; 
  margin: 0 auto;

  & .wp-block-post-featured-image {
    aspect-ratio: 1;
    width: 100%;
    
    & img, & .components-placeholder {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & .wp-block-post-excerpt__more-text {
    display: none;
  }
}
.wp-block-query .wp-block-post-excerpt__more-text {
  display: none;
}