@mixin pill {
  border: 1px solid;
  border-radius: 2em;
  padding: .5em 2em;
  color: var(--wp--preset--color--orange);
  text-transform: uppercase;
  & a {
    text-decoration: none;
    color: var(--wp--preset--color--orange);
    font-weight: 300;
  }
}
@mixin pill-current {
  background-color: var(--wp--preset--color--orange);
  & a {
    color: var(--wp--preset--color--base);
  }
}
.wp-block-categories-list.wp-block-categories {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: .5rem;

  & .cat-item  {
    @include pill;
  }
  & .cat-item.current-cat {
    @include pill-current;
  }
}
.category-all-link {
  @include pill;
}
body:not(.archive.category) {
  .category-all-link {
    @include pill-current;
  }
}
@media (max-width: 781px) {
  body .is-layout-flex.query-category-nav {
    display: block;
  }
  .wp-block-categories-list.wp-block-categories {
    display: block;
    
    & .cat-item {
      max-width: var(--wp--style--global--wide-size);
      margin: .2em 0;
      font-size: var(--wp--preset--font-size--12);
    }
  }
  .category-all-link {
    max-width: var(--wp--style--global--wide-size);
    font-size: var(--wp--preset--font-size--12);
  }
}