.has-contrast-background-color {
  & a, & a:where(:not(.wp-element-button)) {
    color: var(--wp--preset--color--base);
    text-decoration: none;
    font-weight: 300;

    &:hover {
      color: var(--wp--preset--color--orange);
    }
  }
}
.we-are-hiring-footer {
  width: 100%;
  @media (max-width: 781px) {
    max-width: 130px;
    margin: 2em auto;
  }
}