@media (min-width: 782px) {
  .wp-block-navigation__responsive-close {
    max-width: 100%;
  }
  header.wp-block-template-part {
    background-color: var(--wp--preset--color--base);
    padding: 1rem 0;
    position: sticky;
    top:0;
    left:0;
    right: 0;
    z-index: 9998;

    & .wp-block-navigation-link,
    & .menu-item {
      
      & a {
        padding: .75em 1.5em;
        text-transform: uppercase;
        font-weight: 300;
      }
      & a:hover {
        text-decoration: none;
        color: var(--wp--preset--color--orange)!important;
      }
    }
    & .wp-block-navigation-link.cta {
      background-color: var(--wp--preset--color--yellow);
      border-radius: 2em;
      margin-left: 1em;
    }
    * .header-logo svg{
      width: auto;
      height: 20px;
    }
  }
}
@media (max-width: 781px) {
  header.wp-block-template-part {
    padding: var(--wp--preset--spacing--outer) 0;
    background-color: var(--wp--preset--color--base);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .has-modal-open header.wp-block-template-part {
    background-color: var(--wp--preset--color--contrast);
  }
  .has-modal-open header.wp-block-template-part .header-logo {
    position: relative;
    z-index: 1000000;
  }
  .has-modal-open header.wp-block-template-part .header-logo svg path {
    fill: var(--wp--preset--color--base);
  }
  .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
    background-color: var(--wp--preset--color--contrast);
    color: var(--wp--preset--color--base);
  }
  .wp-block-navigation__responsive-container.is-menu-open {
    padding: var(--wp--preset--spacing--outer) 0;
  }
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
    display: block;
    width: 100%;
  }
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item {
    display: block;
    border-top: 1px solid;
  } 
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item__content {
    padding: .5em 0;
    display: block;
    font-size: var(--wp--preset--font-size--25);
    font-weight: 300;
    text-transform: uppercase;
  }
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item:last-child {
    border-top: none;
    margin-top: .5em;
  }
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item.cta {
    background-color: var(--wp--preset--color--yellow)!important;
    border-radius: 2em;
    text-align: center;

    & .wp-block-navigation-item__content {
      color: var(--wp--preset--color--contrast);
    }
  } 
}