ol {
  padding-left: 0 !important;
  counter-reset: default-counter !important;
  list-style: none !important;
}
ol > li {
  list-style: none;
  border-top: 1px solid var(--wp--preset--color--orange);
  padding: .6em 0 .6em 1.5em;
  position: relative;
}
ol > li:before {
  content: counter(default-counter);
  counter-increment: default-counter; 
  position: absolute;
  left: 0;
  width: 1.5em;
  font-feature-settings: "tnum";
  letter-spacing: -0.05em;
}