@use './wp_header';
@use './fix-breakpoints';
@use './header';
@use './footer';
@use './layout';
@use './ordered-list';
@use './buttons';
@use './cover-join-us';
@use './helper-classes';
@use './categories-list';
@use './contact-form';
@use './post-terms';
@use './wp-blocks-overrides/separator';
@use './wp-blocks-overrides/video';
@use './wp-blocks-overrides/columns';
@use './editor-only/custom-post-template';



// Editor wrapper
.edit-post-visual-editor__post-title-wrapper {
  margin-top:0!important;
  margin-bottom:0!important;
  border-bottom: 1px solid #ddd;
}
/* The title that isn't necessarily the h1 */
.edit-post-visual-editor__post-title-wrapper h1 {
  max-width: var(--wp--style--global--wide-size);
  position: relative;
  font-size: var(--wp--preset--font-size--large);
}
.edit-post-visual-editor__post-title-wrapper h1:before {
  content: 'Post title';
  position: absolute;
  bottom: 100%;
  left: 0;
  font-size: .3em;
  color: grey;
}
// bring Debug text to the front
font[size="1"] {
  z-index: 99999;
  position: absolute;
}
//ordered-list specific editor styles
ol > li > .rich-text {
  display: inline-block;
}