.wp-block-separator.alignwide, 
.wp-block-separator.is-style-wide {
  width: 100%;
}
.wp-block-separator {
  background-color: currentColor;
  color: currentColor;
  height: 1px;
  border-bottom: none;
}